/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.form {
  width: 90vw;
  margin: 3rem auto;
  padding: 3rem 2.4rem;
  background: rgb(160, 162, 160);
  box-shadow: 2px 2px -2px grey;
  max-width: 600px;
}

label {
  display: block;
  text-transform: capitalize;
}

input {
  font-size: 1.2rem;
  margin-bottom: 1.1rem;
  outline: none;
  background: white;
  color: black;
  width: 100%;
  border: none;
  padding: 0.4rem 0.2rem;
}

button {
  padding: 0.3rem 0.8rem;
  border-radius: 2px;
  font-size: 1rem;
  display: block;
  cursor: pointer;
  width: 100%;
  background: rgb(30, 30, 162);
  color: white;
  text-transform: capitalize;
  border: none;
  margin-bottom: 0.5rem;
}

.form-data {
  width: 50vw;
  margin: 1rem auto;
  text-align: center;
}

.title {
  text-transform: capitalize;
  letter-spacing: 1px;
  text-align: center;
}
