* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(218, 218, 218);
}

.section {
	padding: 4rem 0;
	width: 90vw;
	max-width: 1192px;
	margin: 0 auto;
}

.course {
	background: white;
	margin-bottom: 1rem;
	display: grid;
	gap: 1rem;
	justify-content: center;
	justify-items: center;
	position: relative;
}

.course img {
	width: 100%;
	object-fit: cover;
}

.course h2 {
	color: red;
}
@media screen and (min-width: 768px) {
	.section {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		gap: 1.5rem;
	}
}

.number {
	position: absolute;
	font-size: 1.24rem;
	top: 0;
	left: 0;
	padding: 1rem;
	background: red;
	border-bottom-right-radius: 1rem;
	color: whitesmoke;
}
