* {
	margin: 0;
	box-sizing: border-box;
}

.navbar {
	display: flex;
	gap: 2rem;
	align-items: center;
	padding: 2rem;
	justify-content: center;
	text-transform: capitalize;
	font-size: 1.3rem;
	background: grey;
	min-height: 4rem;
}

.home {
	min-height: 40vh;
	background-color: blue;
}

.about {
	min-height: 90vh;
	background: green;
}

.player-wrapper {
	position: relative;
	margin: 0 auto;
	padding-top: 56.25%;
	/* 16:9 Aspect Ratio */
}

.react-player {
	position: absolute;
	top: 2rem;
	left: 5rem;
}
